.cardSize{
    height:325px;
    width:325px;
}

.centerText{
    text-align: center !important;
    display: inline-block;
}

.adjustNavRight{
    display: inline-block;
    position: relative;
    z-index: inherit;
}

.mr-5{
    font-size:20px;
}

.background{
    /* Set rules to fill background */
  min-height: 1000px;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  background-image:url(images/Melvin.JPG); 

}
/* .background{ 
    width: "100%";
    height: "auto";
  background-image:url(images/Melvin.JPG); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

} */